*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header > h1{
    font-family: Varela Round, sans-serif;
    font-weight: 900;
    color: rgb(209, 27, 155);
    text-align: center;
    padding: 3rem;
}

img{
    height: 70px;
    width: 70px;

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 920px;
    margin: auto;
}

.centertext{
    text-align: center;
    width: 80%;
    display: inline-block;
    text-align: center;
    padding-left: 20%;
    }

.box > div{
    width: calc(90%/3);
    background-color: black;
    margin-top: 40px;
    float: left;
}


.cntr{
   margin-left: 4%;
    margin-right: 4%;
}